@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  /*@apply bg-white;*/
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

a {
  @apply text-primary dark:text-indigo-400;
}

.meeting-text p {
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

blockquote {
  color: #f9f9f9;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

p {
  @apply py-2;
}

.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.icon-container {
  position: relative; /* Ensure this is relative */
}

.icon-parent-container {
  display: inline-block;
}

.icon-wrapper {

  /*position: relative;*/
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.icon-label {
  padding-left: 4px;
  margin-bottom: 0px;
  margin-right: 2px;
}

.icon-label span {
  font-size: 0.7em;
  color: #f9f9f9;
}

.icon-label-bold {
  font-weight: bold;
}


.icon-class {
  @apply w-6 h-6 rounded-full;
}

.my-container {
  @apply container px-6 py-24 mx-auto text-gray-600 dark:bg-black dark:text-gray-300;
}

.header-1 {
  @apply text-2xl sm:text-3xl font-medium mb-4 text-gray-900 dark:text-gray-100 text-center;
}

.header-2 {
  @apply text-lg sm:text-xl text-gray-900 font-medium dark:text-gray-100 mb-2;
}

.username-container {
  position: relative; /* Ensure this is relative */
  width: 10px; /* Fixed width to contain the username */
}

.popup {
  display: none; /* Hide by default */
  position: absolute; /* Absolute positioning relative to the parent */
  left: 100%; /* Position to the right of the parent element */
  top: 0; /* Align with the top of the parent element */
  margin-left: 2rem; /* Set the distance from the username container */
  /* Other styling for the popup here */
}



.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
}


.icon-above-popup {
  z-index: 10000; /* Ensure it appears above the background popup */
  position: relative;
}

.popup-common-style {
  background-color: #f9f9f9;
  border: 0px solid #ccc;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  overflow: auto;
  overflow: auto; /* Overflow for both popups */
}

.background-popup, .modal-content-container {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  z-index: 1001;
  background-color: #f9f9f9;
  border: 0px solid #ccc;
  /* Other common styles here */
}

.background-popup {
  @apply popup-common-style;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

.modal-content-container {
  @apply popup-common-style;
  position: absolute;
  z-index: 1001;
}



.icon-clickable.icon-above-popup {
  position: relative;
  z-index: 1001;
}


.modal-content {
/*z-index: 1000;*/
}

