@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  /*@apply bg-white;*/
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

a {
  @apply text-primary dark:text-indigo-400;
}

.meeting-text p {
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

p {
  @apply py-2;
}

.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.icon-container {
  position: relative; /* Ensure this is relative */
}

.icon-parent-container {
  display: inline-block;
}

.icon-wrapper {

  /*position: relative;*/
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.icon-label {
  padding-left: 4px;
  margin-bottom: 0px;
  margin-right: 2px;
}

.icon-label span {
  font-size: 0.7em;
  color: #888;
}

.icon-label-bold {
  font-weight: bold;
}


.icon-class {
  @apply w-6 h-6 rounded-full;
}

.my-container {
  @apply container px-6 py-24 mx-auto text-gray-600 dark:bg-black dark:text-gray-300;
}

.header-1 {
  @apply text-2xl sm:text-3xl font-medium mb-4 text-gray-900 dark:text-gray-100 text-center;
}

.header-2 {
  @apply text-lg sm:text-xl text-gray-900 font-medium dark:text-gray-100 mb-2;
}

.username-container {
  position: relative; /* Ensure this is relative */
  width: 10px; /* Fixed width to contain the username */
}

.popup {
  display: none; /* Hide by default */
  position: absolute; /* Absolute positioning relative to the parent */
  left: 100%; /* Position to the right of the parent element */
  top: 0; /* Align with the top of the parent element */
  margin-left: 2rem; /* Set the distance from the username container */
  /* Other styling for the popup here */
}



.icon-above-popup {
  z-index: 10000; /* Ensure it appears above the background popup */
  position: relative;
}


.background-popup {
  position: absolute;
  top: -5px; /* Increase space above */
  left: 0;
  width: calc(100% + 20px); /* Increase width */
  height: calc(100% + 5px); /* Increase height */
  z-index: 10000;
  background-color: rgba(255, 242, 0, 0.8); /* 90% opacity */
  border: 0px solid #ccc;
  border-radius: 10px;
}

.modal-content-container {
  absolute;
  top: 300px; /* Set the desired top position */
  left: 150px; /* Set the desired left position */
  width: 200px;
  height: 150px;
  z-index: 10000;
  background-color: rgba(255, 242, 0, 0.8);
  border: 0px solid #ccc;
  border-radius: 10px;
}






.icon-clickable.icon-above-popup {
  position: relative;
  z-index: 10001;
}


.modal-content {
/*z-index: 1000;*/
}

